<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "daniel.png" %>
	</div>

	<div id="content">
		<h1>Hello, I'm Daniel Brito</h1>
		<p>Welcome to my blog site I built in Ruby on Rails. I learned my skills at Wyncode Academy in Miami, FL. I'm still pushing towards being the best developer I can be!</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/brito2381">@brito2381</a> or you can check out my page on <a href="https://www.linkedin.com/pub/daniel-brito/3b/44b/b42">Linkedin</a>.</p>
	</div>
</div>